/* ------------------------------ *\
    Content
\* ------------------------------ */
/**
 * Content .......... You are reading it!
 * Component ........ Set component styles
 */


/* ------------------------------ *\
    Component
\* ------------------------------ */

/* Info */
.info--orange .col-lg-6 {
    border: 50px solid #fbc770;
}
.info--yellow .col-lg-6 {
    border: 50px solid #f3f68d;
}
/* section intro */
.info .section-intro {
    background-color: #ffffff;
}

.section-intro__para {
    height: 600px;
    padding-left: 24px;
    padding-right: 24px;
    vertical-align: center;
    font-size: 24px;
    line-height: 32px;
    color: #000;
}

