/* ------------------------------ *\
    Content
\* ------------------------------ */

/* Info */

.info__background {
    padding: 0 16px;
    padding-bottom: 12px;
}
.info__background--white {
    background-color: #fefefe;
}
.info__background:after {
    content: " ";
    clear: both;
    display: block;
}
.info__title {
    font-size: 48px;
    color: #333;
    padding: 24px 0px;
    text-align: center;
}
.info__detail__para{
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #333;
    margin-top: 24px;
    margin-bottom: 24px;
}   
.info__btn {
    float: right;
}
